/* select & form */
.javit-form-points {
  margin-top: 0.6em;
  contain: content;
}

input#javit_cp {
  width: 95.5%;
  height: 3em;
  padding-left: 0.6em;
}

input#submit_btn_javit {
  margin-top: 0.6em;
  width: 100%;
}

.javit-select {
  margin-top: 0.6em;
  border-radius: 0.25em;
  width: 100%;
  padding: 1em;
}

p#javit_label {
  text-indent: 0px;
  font-weight: 100;
}

p#javit_error {
  text-indent: 0px;
  font-weight: 100;
  margin: 0px;
}

#dir-javit {
  font-size: 0.9em;
  font-weight: 100;
}

#hours-javit {
  font-size: 0.8em;
  font-weight: 100;
}

/* spinner */
.spinner {
  margin: 0.2em auto 0;
  width: 4em;
  text-align: center;
}

.spinner>div {
  width: 0.5em;
  height: 0.5em;
  background-color: #009BDB;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}